function gen(): Generator<string, int, int> {
  $res = yield "first" => 0;
  $res = yield "second" => 1 + $res;
  yield "third" => 2 + $res;
}

function foo(): void {
  $x = 0;
  foreach (gen(1) as $key => $x) {
    echo $key.$x, "\n";
  }
}

> "first0"
> "second2"
> "third3"
